/* Admin Panel Styles */
.admin-panel {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 570px;
    width: 100%;
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0 0 20px #61dafb;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    justify-content: center;
  }
  
  .admin-panel h2 {
    font-size: 2.5em;
    color: #61dafb;
    text-align: center;
    border-bottom: 2px solid #61dafb;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .admin-section {
    margin-bottom: 30px;
  }
  
  .admin-section h3 {
    font-size: 2em;
    color: #61dafb;
    margin-bottom: 10px;
  }
  
  .admin-section ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-section li {
    background-color: #111;
    padding: 10px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-section .admin-buttons {
    display: flex;
    gap: 10px;
  }
  
  .admin-section button {
    background-color: #61dafb;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .admin-section button:hover {
    background-color: #87CEEB;
    transform: scale(1.05);
  }